# Copiar este archivo a .env y .env.production, luego actualizar los valores
# Copy this file to .env and .env.production, then update the values

# API Configuration
ANGULAR_APP_API_URL=https://localhost:44380/api
ANGULAR_APP_PRODUCTION=false

# Environment
ANGULAR_APP_ENV=development
